<%= render 'profile' , user: @user %>
<title><%= @user.name %> - monokist</title>
<meta name="description" content="<%= @user.name %>のモノページ。<%= @user.name %>の欲しいモノ、持っているモノを表示しています。">
<% end %>
<%= render'profile',user: @user %>
<center><h1>欲しいものリスト</h1></center>
<%= render 'items/list',items :want %>
<center><h1>持っているものリスト</h1></center>
<% have = @user.have_items %>
<%= render 'items/list' , items: @items %>